<% layout("./layouts/boilerplate") %>
<div class="row mt-3">

<div class="col-8 offset-2">

<br><br><br>
<body>
    <h3>Enter new Listings</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data" >
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Enter the Title" type="text" class="form-control" required>
            <div class="valid-feedback">looks good</div>
        </div>
       <br>
        <div class="mb-3">
            <label for="description" class="form-label">description</label>
            <textarea name="listing[description]" placeholder="Enter the description" class="form-control" required></textarea>
            <div  class="invalid-feedback">  please enter short description</div>
        </div>
       <br>
        
       <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input type="file" name="listing[image]"  class="form-control">
       </div>
       <br>
       <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">price</label>
            <input  placeholder="Enter Price"  name="listing[price]" class="form-control"  required>
            <div  class="invalid-feedback">  please enter valid amount</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label>
            <input type="text" name="listing[country]" placeholder="country" class="form-control" required>
            <div  class="invalid-feedback">  please enter correct country name</div>
        </div>

       </div>
       
        <br>
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
            <input type="text" name="listing[location]" placeholder="Enter the location" class="form-control" required>
            <div  class="invalid-feedback">  please enter location correctly</div>
        </div>
        <br>
       
        <br><br>
        <button class="btn btn-dark">Submit </button>
        <br><br><br>
    </form>
</body>
</div>
</div>